<!DOCTYPE html>
<html lang='en'>

<head>
  <%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class='container'>
      <h1 class="my-2">My Cart</h1>

    </div>

  </main>
  <%- include('../includes/end.ejs') %>
</body>

</html>